# Ignore Gradle project-specific cache directory
.gradle
../.gradle

# Ignore Gradle build output directory
build

# Ignore eclipse files
project/.project
project/.settings/
project/api/StatisticAPI/.classpath
project/api/StatisticAPI/.gitignore
project/api/StatisticAPI/.project
project/api/StatisticAPI/.settings/
project/api/Server/.classpath
project/api/Server/.project
project/api/Server/.settings/
project/api/WordUse/.project
project/api/WordUse/.settings
project/api/WordUse/.classpath

# Ignore generated documentation
project/docs/
project/api/.project
project/api/.settings/org.eclipse.m2e.core.prefs
